<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
          <form action="/home/adress/create" method="post" class="add-article-form" enctype="multipart/form-data">
            <div class="col-md-9">
              <h1 class="page-header">增加起始地点信息</h1>
              <div class="add-article-box">
                <h2 class="add-article-box-title"><span>起始地点</span></h2>
                <div class="add-article-box-content">
                    <input type="text" class="form-control" placeholder="请输入起始地点" name="adress" autocomplete="off">
                </div>
              </div>
              
            </div>
           
    
            <div class="col-md-3">
                <h1 class="page-header">操作</h1>
                
                <div class="add-article-box">
                  <h2 class="add-article-box-title"><span>发布</span></h2>
                  <div class="add-article-box-content">
                      <p><label>状态：</label><span class="article-status-display">未发布</span></p>
                    <p><label>公开度：</label>公开</p>
                  </div>
                  <div class="add-article-box-footer">
                    <button class="btn btn-primary" type="submit" name="submit">发布</button>
                  </div>
                </div>
    
             
    
    
            
    
            </div>
          </form>
        </div>
      </div>
    
     