  <!-- content -->
    
  <div class="content mt-60 mb-40 container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="mb-20">欢迎来到爱旅游网站</h3>
        
        <p>我们致力于服务每一位用户，让所有人都能体会到旅游的快乐。</p>

        <h3 class="mb-30">我们的公司地点</h3>

        <div class="row">
          <div class="col-md-6">
            <div class="contact-info mb-30">
              <h4>石家庄</h4>
              <p><span class="ti-map-alt"></span>石家庄XXXXXXX路</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-email"></span><a>ailvyou@shijiazhuang.com</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info mb-30">
              <h4>北京</h4>
              <p><span class="ti-map-alt"></span>北京XXXXXXX路</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-email"></span><a>ailvyou@beijing.com</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info mb-30">
              <h4>XXX</h4>
              <p><span class="ti-map-alt"></span>XXXXXXXXXX</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-email"></span><a>ailvyou@XXXXXX.com</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info mb-30">
              <h4>XXXXX</h4>
              <p><span class="ti-map-alt"></span>XXXXXXXXXX</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-headphone-alt"></span> 1233-6666-6666</p>
              <p><span class="ti-email"></span><a>ailvyou@XXXXXXXX.com</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="mb-20">如果您对我们的网站或服务有任何疑问，请填写下列表单提交于我们，我们会虚心采取☺</h3>
        <div class="contact-mr">
          <h3 class="mb-20">请填写</h3>
          
          <form  action="/index/index/cont" method="post">
            <div class="form-row contact-form">
              <div class="col-md-12">
                <input type="email" class="form-control" name="email" placeholder="邮箱">
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="话题">
              </div>
              <div class="col-md-12">
                <textarea name="advice" placeholder="建议"></textarea>
              </div>
             
                <input type="submit" value="提交" class="btn btn-1">
                
             
            </div>
          </form>
          
        </div>

      </div>
    </div>
  </div>

  

  <!-- / content -->
