<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
          <form action="/home/money/save" method="post" class="add-article-form" enctype="multipart/form-data">
            <div class="col-md-9">
              <h1 class="page-header">增加旅游管理信息</h1>
              <div class="form-group">
                  <h2 class="add-article-box-title"><span>景点名称</span></h2>
                <label for="article-title" class="sr-only">景点名称</label>
                <select name="sid" size="4">
                        <option value="">--请选择--</option>
                        {volist name="spots" id="vo"}
                        <option value="{$vo.Id}">{$vo.title}</option>
                        {/volist}
                </select>
              </div>
              <div class="form-group">
                  <h2 class="add-article-box-title"><span>起始地</span></h2>
                <label for="article-title" class="sr-only">起始地</label>
                <select name="aid" size="4">
                        <option value="">--请选择--</option>
                        {volist name="adress" id="val"}
                        <option value="{$val.Id}">{$val.adress}</option>
                        {/volist}
                </select>
              </div>
              <div class="add-article-box">
                <h2 class="add-article-box-title"><span>启程时间</span></h2>
                <div class="add-article-box-content">
                    <input type="text" class="form-control" placeholder="请输入启程时间" name="ftime" autocomplete="off">
                </div>
              </div>
              <div class="add-article-box">
                <h2 class="add-article-box-title"><span>结束时间</span></h2>
                <div class="add-article-box-content">
                        <input type="text" class="form-control" placeholder="请输入结束时间" name="endtime" autocomplete="off">
                </div>
              </div>
              <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>旅行人数</span></h2>
                    <div class="add-article-box-content">
                            <input type="text" class="form-control" placeholder="请输入旅行人数" name="people" autocomplete="off">
                    </div>
                  </div>
            </div>
           
    
            <div class="col-md-3">
                <h1 class="page-header">操作</h1>

                <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>旅游费用</span></h2>
                        <input type="text" class="form-control" placeholder="请输入旅游费用" name="money" autocomplete="off">
                </div>
                
                <div class="add-article-box">
                  <h2 class="add-article-box-title"><span>发布</span></h2>
                  <div class="add-article-box-content">
                      <p><label>状态：</label><span class="article-status-display">未发布</span></p>
                    <p><label>公开度：</label>公开</p>
                  </div>
                  <div class="add-article-box-footer">
                    <button class="btn btn-primary" type="submit" name="submit">发布</button>
                  </div>
                </div>
    
             
    
    
            
    
            </div>
          </form>
        </div>
      </div>
    
     